@model Philocivil.ViewModels.SelectTopicViewModel;

@{
	ViewData["Title"] = "Select a Topic";
}
<body style="background-color: lightblue;
    background-image: url('/Images/Background.png');
    background-size: cover;
    background-position: center;">
	<link rel="stylesheet" href="~/css/styles.css" />

	<div style="background-color: #333; border: 3px double #fff; border-radius: 4px; padding: 1rem; box-shadow: 0 0 10px rgba(0, 0, 0, 0.7) inset; width: 100%; text-align: center; font-family: 'Press Start 2P', monospace;
    color: #fff;">
		<h1 style="color: white; font-family: 'Press Start 2P', monospace;">
			Select a Topic
		</h1>
		<p style="color: white; font-family: 'Press Start 2P', monospace;">
			You are playing in <b>
				@(Model.Subdivision != null ? Model.Subdivision.Name : "Federal Level")
			</b> of <b>@Model.Country.Name</b>
		</p>

	</div>


	<div class="topics-container">
		@foreach (var topic in Model.Topics)
		{
			<div class="form-container">
				<div onclick="toggleDropdown('@topic.Id')">
					@{
						Random rand = new Random();
						int temp = rand.Next(0, 51);
					}
					<h2>@topic.Name <br />@temp XP</h2>
				</div>
				<a class="link-primary" asp-controller="Game" asp-action="Index" asp-route-level="1" asp-route-topic="@topic.Id" asp-route-country="@Model.Country.Name" asp-route-subdivision="@Model.Subdivision.Name"><button>level 1</button></a>
				<a class="link-primary" asp-controller="Game" asp-action="Index" asp-route-level="2" asp-route-topic="@topic.Id" asp-route-country="@Model.Country.Name" asp-route-subdivision="@Model.Subdivision.Name"><button>level 2</button></a>
				<a class="link-primary" asp-controller="Game" asp-action="Index" asp-route-level="3" asp-route-topic="@topic.Id" asp-route-country="@Model.Country.Name" asp-route-subdivision="@Model.Subdivision.Name"><button>level 3</button></a>
				<a class="link-primary" asp-controller="Game" asp-action="Index" asp-route-level="4" asp-route-topic="@topic.Id" asp-route-country="@Model.Country.Name" asp-route-subdivision="@Model.Subdivision.Name"><button>level 4</button></a>
				<a class="link-primary" asp-controller="Game" asp-action="Index" asp-route-level="5" asp-route-topic="@topic.Id" asp-route-country="@Model.Country.Name" asp-route-subdivision="@Model.Subdivision.Name"><button>level 5</button></a>
				<a class="link-primary" asp-controller="Game" asp-action="Index" asp-route-level="6" asp-route-topic="@topic.Id" asp-route-country="@Model.Country.Name" asp-route-subdivision="@Model.Subdivision.Name"><button>Quiz (Boss)</button></a>
			</div>
		}
	</div>
</body>