@model TBDName.ViewModels.GameViewModel

<form method="post" asp-action="Turn">

    <p>@Model.GameSession.enemyHealth</p>
    <p>@Model.GameSession.Question</p>

    <p>Round @Model.GameSession.round</p>
    <p>damage @Model.GameSession.CumulativeDamage</p>

    @if (Model.GameSession.GameState)
    {
        <p>@Model.GameSession.Feedback</p>
        <p>@Model.GameSession.AnswerGiven</p>
        <input type="submit" value="Next" />
    }
    else
    {
        <label for="Prompt">Answer:</label>
        <input type="text" id="Prompt" asp-for="GameSession.AnswerGiven" />
        <input type="submit" value="Answer" />
    }
</form>